body{
  background:aliceblue
}
a{
  text-decoration: none;
 list-style: none;
 color: black
}
button{
background: lightseagreen;
}
img{
  width: 5%;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
